#wrapper {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0px 0px 20px 3px black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}
.hand {
  top: 50%;
  left: 50%;
  height: 10px;
  background: #61afff;
  position: absolute;
  border-radius: 6px;
}
.hour {
  width: 110px;
  height: 10px;
  background: #66ff61;
  transform: rotate(272deg);
  transform-origin: 13% 30%;
}
.minute {
  height: 10px;
  width: 180px;
  transform: rotate(290deg);
  transform-origin: 9% 0%;
}
.second {
  background: #860a67;
  width: 220px;
  height: 10px;
  transform: rotate(45deg);
  transform-origin: 0% 145%;
}
.dots {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 8px 3px lavender;
}
.dot-top {
  top: 1%;
  left: 50%;
}
.dot-right {
  top: 50%;
  right: 1%;
}
.dot-bottom{
  left: 50%;
  bottom: 1%;
}
.dot-left{
  top: 50%;
  left: 1%;
}
.dot-midlle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 30px 4px lavender;
}
